<!DOCTYPE html>
<html>
<head></head>
<body>

  <% if current_user %>
    Welcome, <%= current_user.email %>
  <% end %>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>

  <br>
  <br>
  <a href="http://localhost:9292">RACKUP</a>


</body>
</html>