Please enter your email address to recover your password:
<br>
<br>
<form method="post" action="/passwords">
Email: <input type="text" name="email">
<input type="submit" value="Password recovery" class="button">
</form>
